[6071](https://codeup.kr/problem.php?id=6071). 임의의 정수가 줄을 바꿔 계속 입력된다. -2147483648 ~ +2147483647, 단 개수는 알 수 없다. 0이 아니면 입력된 정수를 출력하고, 0이 입력되면 출력을 중단해보자.(0은 출력하지 않는다.)

In [ ]:
while True:
  x = int(input())
  if x == 0:
    break;
  else:
    print(x)

입력

7

4

2

3

0

1

5

6

9

10

8

출력

7

4

2

3

[6072](https://codeup.kr/problem.php?id=6072). 정수(1 ~ 100) 1개가 입력되었을 때 카운트다운을 출력해보자. 1만큼씩 줄이면서 한 줄에 1개씩 카운트다운 수를 출력한다.

In [ ]:
x = int(input())

while x > 0:
  print(x)
  x -= 1

입력

5

출력

5

4

3

2

1

[6073](https://codeup.kr/problem.php?id=6073). 정수(1 ~ 100) 1개가 입력되었을 때 카운트다운을 출력해보자. 1만큼씩 줄이면서 카운트다운 수가 0이 될 때까지 한 줄에 1개씩 출력한다.

In [ ]:
x = int(input())

while x > 0:
  x -= 1
  print(x)

입력

5

출력

4

3

2

1

0

[6074](https://codeup.kr/problem.php?id=6074). 영문 소문자(a ~ z) 1개가 입력되었을 때, a부터 그 문자까지의 알파벳을 순서대로 출력해보자.

In [ ]:
c = str(input())
a = ord(c)
for x in range(ord('a'), a + 1):
  print(chr(x), end=' ')

입력

f

출력

a b c d e f

[6075](https://codeup.kr/problem.php?id=6075). 정수(0 ~ 100) 1개를 입력받아 0부터 그 수까지 순서대로 출력해보자. 0부터 그 수까지 줄을 바꿔 한 개씩 출력한다.

In [ ]:
x = int(input())
for i in range(0, x + 1):
  print(i)

입력

4

출력

0

1

2

3

4

[6076](https://codeup.kr/problem.php?id=6076). 정수(0 ~ 100) 1개를 입력받아 0부터 그 수까지 순서대로 출력해보자. 0부터 그 수까지 줄을 바꿔 한 개씩 출력한다.

In [ ]:
x = int(input())
i = 0
while i <= x:
  print(i)
  i += 1

입력

4

출력

0

1

2

3

4

[6077](https://codeup.kr/problem.php?id=6077). 정수(1 ~ 100) 1개를 입력받아 1부터 그 수까지 짝수의 합을 구해보자. 1부터 그 수까지 짝수만 합해 출력한다.

In [ ]:
x = int(input())
i = 1
n = 0
while i <= x:
  if i % 2 == 0:
    n += i
  i += 1
print(n)

입력

5

출력

6

[6078](https://codeup.kr/problem.php?id=6078). 영문 소문자 'q'가 입력될 때까지 입력한 문자를 계속 출력하는 프로그램을 작성해보자. 문자들이 1개씩 계속해서 입력된다.

In [ ]:
while True:
  s = str(input())
  print(s)
  if s == 'q':
    break

입력

x

b

k

d

l

q

g

a

c

출력

x

b

k

d

l

q

[6079](https://codeup.kr/problem.php?id=6079). 1, 2, 3 ... 을 계속 더해 나갈 때, 그 합이 입력한 정수(0 ~ 1000)와 같거나 커졌을 때, 마지막에 더한 정수를 출력한다.

In [ ]:
x = int(input())
i = 0
n = 0
while True:
  i += 1
  n += i
  if n >= x: # 같거나 커졌을 때
    break  
print(i)

입력

55

출력

10

[6080](https://codeup.kr/problem.php?id=6080). 1부터 n까지, 1부터 m까지 숫자가 적힌 서로 다른 주사위 2개를 던졌을 때, 나올 수 있는 모든 경우를 출력해보자. 서로 다른 주사위 2개의 면의 개수 n, m이 공백을 두고 입력된다. 단, n, m은 10 이하의 자연수

In [ ]:
n, m = map(int, input().split())
for i in range(1, n + 1):
  for j in range(1, m + 1):
    print(i, j)

입력

2 3

출력

1 1

1 2

1 3

2 1

2 2

2 3